input, select {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  outline: none;
}

input {
  padding: 10px 16px;
}

  input::placeholder {
    text-align: left;
    font-size: 11px;
    color: #bbbbbb;
  }

  input:focus::placeholder {
    opacity: 0;
  }

  input:focus {
    border-color: #019160;
  }

  input + i {
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 16px;
  }

select {
  padding: 10px 0px 10px 16px;
}
  select:focus {
    border-color: #019160;
  }


  

