.page {
  position: absolute;
  top: 49px;
  left: 226px;
  right: 0;
  bottom: 0;
  padding: 16px;
  background-color: #e9ebee;
  transition: 0.5s ease;
}

.page.expand {
  left: 52px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .page-header .title {
    font-size: 20px;
    /* font-family: GoogleSans-Bold; */
    font-weight: bold;
    color: #000000;
  }