.paging-bar {
  /* position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
}

.paging-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.paging-limit {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 6px 10px;
}

.paging-limit.m-selectbox .m-selectbox__dropdown {
  top: unset;
  bottom: calc(100% + 5px);
  right: 0;
  width: calc(100% + 10px);
}
