.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: 16px;
  /* overflow: hidden; */
}

.toolbar-left, .toolbar-right {
  height: 100%;
}

.toolbar-left {
  display: flex;
  align-items: center;
}
  .input-search {
    width: 300px;
    padding-left: 40px; 
  }

  .toolbar-left select {
    padding: 10px 0px 10px 16px;
    margin-left: 10px;
    width: 180px;
  }

  .toolbar-left select:focus {
    border-color: #019160;
  }