.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: 16px;
  /* overflow: hidden; */
}

.toolbar-left, .toolbar-right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.toolbar-right button#btn-delete {
  border-color: #F65454;
  color: #F65454;
  transition: 0.2s ease-out;
}

.toolbar-right button#btn-delete:hover {
  /* background-color: #FFEBEB; */
  background-color: #F65454;
  color: #ffffff;
}

